asgiref==3.5.1
backports.zoneinfo==0.2.1
blessings==1.7
bpython==0.22.1
certifi==2021.10.8
charset-normalizer==2.0.12
cssselect==1.1.0
curtsies==0.3.10
cwcwidth==0.1.6
Django==4.0.4
django-cuser==2017.3.16
django-database-translation==1.1.5
django-jsignature==0.11
django-modeltranslation==0.18.2
django-parler==2.3
django-rosetta==0.9.8
django-tinymce==3.4.0
django-vinaigrette==2.0.1
greenlet==1.1.2
idna==3.3
lxml==4.8.0
modeltranslation==0.25
Pillow==9.1.0
polib==1.1.1
psycopg2-binary==2.9.3
Pygments==2.12.0
pyquery==1.4.3
python-dotenv==0.20.0
pyxdg==0.27
requests==2.27.1
rosetta==0.3
six==1.16.0
sqlparse==0.4.2
typing-extensions==4.2.0
urllib3==1.26.9
